
p {
  /* background-color: #E4E2DF; */
  /* border-radius: 30px; */
  color: #35363C;
}

ul li {
  color: #35363C;
}



h1 {
  color: #35363C;
}

h3 {
  color: #35363C;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: 0.07em;
}

html {
  background-color: #FBFDFF;
}