@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@700&family=Poppins:wght@300;400;600;700;800&display=swap');

p {
  /* background-color: #E4E2DF; */
  /* border-radius: 30px; */
  color: #35363C;
  font-size: 1.1vw;
}

ul li {
  color: #35363C;
  font-size: 1.1vw;
}



h1 {
  color: #35363C;
  font-family: "DM Sans", sans-serif;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 600;
  font-size: 5vw;
  margin: 0;
  
}

h3 {
  color: #35363C;
  font-family: "DM Sans", sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */

  font-weight: 800;
  /* font-size: 1.5em; */
  font-size: 1.6vw;
  letter-spacing: 0.07em;
}

html {
  background-color: #FBFDFF;
}

a {
  text-decoration: none;
  color:#35363C;
  font-weight: 600;
  text-decoration: underline;
}

#linedetail {
  height: 1px;
  width: 100%;
  background-color: #35363C;
  opacity: 0.3;
}