h1 {
    font-family: "DM Sans", Serif;
    font-style: medium;
    font-weight: 600;
    /* font-size: 5.5em; */
    font-size: 6vw;
    /* margin-top: 0.5em; */
    margin: 0 0 0 0;
}

p {
    margin: 0 0 0 0;    
}



.wrapper {
    margin: auto;
    margin-top: 10%;
    display: flex;
    /* grid-template-columns: repeat(7, 1fr); */
    gap: 6em;
    width: 55%;
    /* justify-content: center; */
}

.introtext {
    margin: none !important;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    /* justify-content:start !important; */
}

#intro1 {
    flex-basis: fit-content;
    /* height: min-content; */
    /* margin: 0 0 0 0; */
}

#intro2 {
    flex-basis: fit-content;
    /* margin: 0 0 0 0; */
}

.intro {
    flex-basis: fit-content;
    /* margin: 0 0 0 0; */
}

#socials {
    padding-top: 1em;
    display: flex;
    gap: 1.5em;
    /* margin-left: -1.5em; */
}

#socialimg img {
    height: auto;
    /* width: 2em; */
    width: 1.8vw;
    /* flex: 0.1 .1 auto; */
    /* margin: 0 0 0 0; */
}

#socialimg img:hover {
    /* src: './images/envelopehover.png'; */
    /* color: black; */
    filter: invert(1);
}



.pictures {
    display: flex;
    width: 100%;
    display: block;
    /* height: auto; */
    
}


.pictures img {
    /* object-fit:contain; */
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* border-radius: 20px; */
    border-radius: 12%/10%;
    box-shadow: -0.2em 0.2em 20px 0em rgba(0, 0, 0, 0.25);
    /* object-fit: cover; */
    /* max-height: 70%; */
    /* max-width: 25%; */
    /* height: auto; */
    /* width: 80%; */
}







#intro{
    /* align-items: left; */
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    /* font-size: 1.0em; */
    font-size: 1.1vw;
    /* letter-spacing: 00.05em; */
    /* background-size: 597px 337px; */
    margin: 0 0 0 0;
    line-height: 200%;
}