h1 {
    font-family: "DM Sans", Serif;
    font-style: medium;
    font-weight: 600;
    font-size: 5.5em;
    /* margin-top: 0.5em; */
    margin: 0 0 0 0;
}

p {
    margin: 0 0 0 0;    
}



.wrapper {
    margin: auto;
    margin-top: 10%;
    display: flex;
    /* grid-template-columns: repeat(7, 1fr); */
    gap: 6em;
    width: 55%;
    /* justify-content: center; */
}

.introtext {
    margin: none !important;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    /* justify-content:start !important; */
}

#intro1 {
    flex-basis: fit-content;
    /* height: min-content; */
    margin: 0 0 0 0;
}

#intro2 {
    flex-basis: fit-content;
    margin: 0 0 0 0;
}

.intro {
    flex-basis: fit-content;
    margin: 0 0 0 0;
}


.pictures {
    
}


.pictures img {
    border-radius: 20px;
    box-shadow: -0.2em 0.2em 20px 0em rgba(0, 0, 0, 0.25);
    object-fit: cover;
    /* width: 80%; */
}

.pictures .pic{
    flex: 1 1 0;
    /* width: 0; */
}

#portrait img {
    height: 70%;
    /* width: 80%; */
}






#intro{
    /* align-items: left; */
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.0em;
    letter-spacing: 00.05em;
    /* background-size: 597px 337px; */
    margin: 0 0 0 0;
    line-height: 200%;
    /* padding: 1.5em; */
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    /* box-shadow: -1.5em 1.5em 0em 0em rgba(96, 167, 198, 0.5); */
}