.proj-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 120px;
    margin: 0 120px 0 120px;
}

.head-placement {
    grid-column: 1;
    grid-row: 1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 120px;
    row-gap: 120px;
    margin: 0 120px 0 120px;
}


.proj-box {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    font-size: 20px;
    background: #E4E2DF;
    padding: 0.5em 1.5em;
    border-radius: 20px;
}

.proj-tit {
    font-size: 23px;
    letter-spacing: 0.05em;
}

#proj1 {
    grid-column: 1;
    grid-row: 1;
    
}

#proj2 {
    grid-column: 2;
    grid-row: 1;
}

#proj3 {
    grid-column: 3;
    grid-row: 1;
}

#proj4 {
    grid-column: 1;
    grid-row: 2;
}